<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>513874278888-ljlptr5aqe8cedcna55rqcn88ti9pk8l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCu7WuD38n8cC2oHqilrFg_C3OV4qFlvD8</string>
	<key>GCM_SENDER_ID</key>
	<string>513874278888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppMobile</string>
	<key>PROJECT_ID</key>
	<string>wechat-a937e</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-a937e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513874278888:ios:2148ed4699b30666b8cc5d</string>
</dict>
</plist>